# Development of convert_hyg_to_json.py

Notebook for developing conversion of HYG_v3 csv database to json file

In [10]:
import os
import pandas as pd
import json

In [34]:
HYG_DB_PATH = '../../HYG-Database'
HYG_DB_FILENAME = 'hygdata_v3.csv'

HYG_JSON_PATH = '../'
HYG_JSON_FILENAME = 'stars.json'

* Columns to convert to JSON

Column details are available at https://github.com/astronexus/HYG-Database

In [29]:
JSON_COLUMNS = ['id', 'proper', 'ra', 'dec', 'dist', 
                'mag', 'absmag', 'spect', 'ci',
                'x', 'y', 'z', 'vx', 'vy', 'vz', 
                'lum', 'var', 'var_min', 'var_max']

* Load CSV and visualise

In [21]:
hyg_db = pd.read_csv(os.path.join(HYG_DB_PATH, HYG_DB_FILENAME))[JSON_COLUMNS]

In [30]:
hyg_db

,id,proper,ra,dec,dist,mag,absmag,spect,x,y,z,vx,vy,vz,lum,var,var_min,var_max
0,0,Sol,0.000000,0.000000,0.0000,-26.70,4.850,G2V,0.000005,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,1.000000,NaN,NaN,NaN
1,1,NaN,0.000060,1.089009,219.7802,9.10,2.390,F5,219.740502,0.003449,4.177065,4.000000e-08,-0.000006,-2.000000e-06,9.638290,NaN,NaN,NaN
2,2,NaN,0.000283,-19.498840,47.9616,9.27,5.866,K3V,45.210918,0.003365,-16.008996,-7.000000e-08,0.000042,-2.000000e-07,0.392283,NaN,NaN,NaN
3,3,NaN,0.000335,38.859279,442.4779,6.61,-1.619,B9,344.552785,0.030213,277.614965,3.920000e-06,0.000011,-4.860000e-06,386.901132,NaN,NaN,NaN
4,4,NaN,0.000569,-51.893546,134.2282,8.06,2.421,F0V,82.835513,0.012476,-105.619540,8.000000e-08,0.000041,6.000000e-08,9.366989,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119609,119611,NaN,23.963895,38.629391,16.9492,12.64,11.494,m,13.240128,-0.125297,10.581054,8.220000e-06,-0.000013,-1.044000e-05,0.002200,NaN,NaN,NaN
119610,119612,NaN,23.996567,47.762093,16.7224,16.10,14.984,m,11.240971,-0.008954,12.380596,1.273000e-05,0.000070,-1.149000e-05,0.000088,NaN,NaN,NaN
119611,119613,NaN,23.996218,-44.067905,18.5185,12.82,11.482,M7,13.305832,-0.013199,-12.879810,1.682000e-05,-0.000002,1.737000e-05,0.002224,NaN,NaN,NaN
119612,119614,NaN,23.997386,-34.111986,12.8205,12.80,12.260,M4,10.614642,-0.006882,-7.189893,-2.172000e-05,0.000045,-3.214000e-05,0.001086,NaN,NaN,NaN
119613,119615,NaN,0.036059,-43.165974,7.8003,13.05,13.589,DA5,5.689088,0.054021,-5.336296,-1.762000e-05,0.000023,-1.857000e-05,0.000319,NaN,NaN,NaN

* Convert to JSON

In [32]:
result = hyg_db.to_json(orient='values')
parsed = json.loads(result)
# json.dumps(parsed, indent=4).split('\n')

In [33]:
with open(os.path.join(HYG_JSON_PATH, HYG_JSON_FILE), 'w') as outfile:
    json.dump(parsed, outfile)